body{
    font-family: 'Spartan', serif;
    font-size: 13px;
}
#package_list {
    border: 1px solid black;

}
.packageListTd{
    border: 1px solid black;
}
#packagelistheading{
    background-color: green;
    color: white;
}
#packagelistbigheading{
    background-color: brown;
    color: white;
}